
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    max-width: 1600px;
    width: 100%;
}

/* CSS for mobil */

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

.logo {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 3rem;
    text-align: center;
    padding: 3rem 0 1rem 0;
}

header {
    grid-area: header;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    padding: 3rem 0 1rem 0;
}

header nav section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}


header nav a {
    text-decoration: none;
    color: #000;
}

.active {
    text-decoration: underline #e6bd43;

    font-weight: bold;
}


.orange-box {
    font-weight: bold;
    background-color: #e6bd43;
    padding: 1rem;
    margin: 0.5rem;
    text-decoration: none;
    color: #000;
    border: none;
}

main {
    grid-area: main;
}

.read-more-btn {
    margin: 1rem 3rem;
}

#background-video {
    display: none;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-image: url("../img/heading-background.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ffffff90;
    background-blend-mode: lighten;
    padding: 2rem 0 3rem 0;
    width: 100%;
}
.headline h1 {
    text-align: center;
    max-width: min-content;

}

.headline p {
    text-align: center;
    margin: 0 3rem;
}

.headline article {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portfolio {
    font-size: 1rem;
    padding: 8rem 0 8rem 0;
}




.front-about {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    gap: 1rem;
    padding: 3rem;
}

.front-about article {
    display: flex;
    flex-direction: column;
}

.front-about img {
    padding-bottom: 3rem;
    width: 100%;
}

.front-about h3, .front-about p, .front-about a {
    margin: 0 3rem 1rem 3rem;
}

.front-about a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    outline-style: solid;
    padding: 1rem;
    max-width: fit-content;
}

#services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#services article {
    margin: 2rem;
    max-width: 200px;
}

#services h3 {
    width: 100%;
}

.center i {
    font-size: 3rem;
    margin-top: 3rem;
}

.center p {
    margin-top: 0;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #e8e8e8;
    padding: 3rem 2rem 3rem 2rem;
}

.newsletter-form h3 {
    width: 100%;
}

.newsletter {
    display: flex;
    
}

.email {
    border: none;
    height: 3rem;
    max-width: 250px;
}

.sign-up-btn {
    margin: 0 1rem 0 0.3rem;
    border: none;
    height: 3rem;
    
}

.portfolio-big {
    font-size: 1.3rem;
    margin: 2rem 3rem 1rem 3rem;
}

.portfolio-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3rem 3rem 0 3rem;
}

.portfolio-btns a {
    padding: 0.5rem;
    margin: 0 1rem 1rem 0;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    outline-style: solid;
}

.portfolio-sections {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem 1rem 3rem;
}


.portfolio-sections img {
    
    width: 100%;
}

.portfolio-sections h3 {
    margin: 1rem 3rem 1rem 0;
}

.portfolio-sections article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 30%;
    max-width: 692px;
    min-width: 200px;
    width: 100%;
    margin-right: 2rem;
}

hr {
    margin: 0 3rem;
    background: #e6bd43;
    border: none;
    height: 4px;
}

.about-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/heading-background.jpg");
    background-size: cover;
}

.about-headline section {
    background-color: rgba(255, 255, 255, 0.825);
    margin: 3rem;
    padding: 3rem;
}

.about-headline h1 {
    font-size: 1.2rem;
}

.about-headline p {
    font-size: 1rem;
}

.about-headline a {
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}

.clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33%;
    justify-content: center;
    gap: 1rem;
    background-color: #e6bd43;
    padding: 3rem 0;
}

.clients h3 {
    width: 100%;
}

.clients img {
    margin: 0.5rem;
}


.container {
    background-color: #e8e8e8;
}

.container form {
    background-color: #e8e8e8;
    padding: 1rem 1.5rem 1.5rem;
    text-align: left;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container h4 {
    margin: 2rem 0 0 2rem;
    font-size: 1.2rem;
}

/* Brukte w3schools for å se litt hvordan jeg skulle lage contact us form.
Link: https://www.w3schools.com/howto/howto_css_contact_form.asp */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: none;
    margin-bottom: 0.5rem;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.submit-btn {
    margin: 0;
    font-size: 0.9rem;
}

.container p {
    padding: 1.5rem 2rem 1rem 2rem;
    margin: 0;
}

.contact-icons {
    display: flex;
    flex-direction: column;
}

.icon-with-text {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.icon-with-text i {
    margin-right: 2rem;
    color: #252525;
}

.icon-with-text span {
    font-size: 1rem;
}

.fa-location-pin {
    height: 19.2px;
    width: 19.2px;
}

iframe {
    display: flex;
    flex-grow: inherit;
    width: 100%;
    height: 250px;
}

footer {
    grid-area: footer;
}

footer section {
    text-align: center;
    background-color: #252525;
    color: #fff;
    padding: 4rem;
}

footer section p {
    font-size: 0.9rem;
}

footer section a {
    text-decoration: none;
    color: #fff;
}

.fa-brands {
    font-size: 2rem;
    margin: 0 1rem;
}

#my-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #252525;
    color: #fff;
    padding: 10px;
    font-size: 2rem;
}

/* CSS for desktop */

@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

/* Navigasjon */
    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        padding: 1rem 0 1rem 0;
    }
    
    header nav section{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 1rem;
        width: fit-content;
        margin-top: 0.5rem;
    }
    
    
    header nav a {
        text-decoration: none;
        color: #000;
    }

    /* Headline */
    .headline {
        background-image: none;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0;
    }


    .headline h1 {
        text-align: center;
        max-width: fit-content;
        font-size: 3rem;
    }

    .headline p {
        text-align: center;
        margin: 0 3rem;
        width: 50%;
        font-size: 1.1rem;
    }

    .read-more-btn {
        margin-top: 1rem;
    }


    .headline article {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #background-video {
        display: inline-block;
        width: 100%;
        height: 400px;
        object-fit: cover;
        opacity: 0.5;
        
    }

/* Subheading */
    #subheading {
        padding: 3rem 0;
    }

    #subheading h2 {
        font-size: 3rem;
        width: 55%;
    }

    #subheading p {
        font: 2rem;
        width: 55%;
    }

/* About company front page */
    .front-about {
        flex-direction: row;
        
    }

    .front-about article {
        align-self: center;
    }

    .front-about img {
        padding: 0;
        max-height: 400px;
        max-width: 400px;
    }

/* Our services */
    #services {
        display: flex;
        justify-content: space-around;
    }

    #services h3 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    #services article {
        margin: 2rem;
        max-width: 200px;
    }
    
    #services h3 {
        width: 100%;
    }
    
    .center i {
        font-size: 2.5rem;
        margin-top: 3rem;
    }


    .newsletter-form h3 {
        font-size: 2.5rem;
    }


    footer section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 1rem;
    }

/* Portfolio */
    .portfolio {
        background-image: url("../img/heading-background.jpg");
        padding: 5rem 0 5rem 0;
    }

    .portfolio-big {
        font-size: 2rem;

    }
    
    .portfolio-sections {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 1rem 1rem 3rem;
    }
    
    
    .portfolio-sections img {
        width: 100%;
        transition: transform 0.8s;
    }

    .portfolio-sections img:hover {
        transform: scale(1.05);
    }
    
    .portfolio-sections h3 {
        margin: 1rem 3rem 1rem 0;
    }
    
    .portfolio-sections article {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        flex-basis: 30%;
        max-width: 692px;
        min-width: 200px;
        width: 100%;
        margin-right: 2rem;
    }

/* About page */
    .about-headline section {
        width: 40%;
        align-self: last baseline;
    }

    .clients h3 {
        font-size: 2.5rem;
    }

    .container h3 {
        font-size: 2.5rem;
    }

    .container-flex {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10rem;
    }

    .contact-flex {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

/* Button hover effects */
    .orange-box:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .sign-up-btn:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .portfolio-btns:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .submit-btn:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .read-more-btn:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .read-about-btn:hover {
        background-color: #252525;
        color: #e6bd43;
    }





}